meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='{{ seoDescription .Description }}')
meta(name='author', content='Navi Arimeka')
title {{ seoTitle .Title }}
link(href='/css/application.css', rel='stylesheet', type='text/css')
