%article.col-lg-12
  = link_to article do
    - if article.main_image.present?
      = image_tag article.main_image.url('780x564'), class: 'img-responsive', size: '780x564'
    %h2.title= article.title
