%article.col-lg-4.col-sm-4.col-xs-12
  = link_to article do
    - if article.main_image.present?
      = image_tag article.main_image.url('250x211'), class: 'img-responsive', size: '250x211'
    %h4.title= article.title
