%article.col-lg-4.col-sm-4.col-xs-12{itemscope: true, itemtype: 'http://schema.org/NewsArticle'}
  %meta{itemprop: 'datePublished', content: article.published_at.to_formatted_s(:iso8601)}
  %meta{itemprop: 'description', content: article.seo_description}
  = link_to article do
    - if article.main_image.present?
      %meta{itemprop: 'image', content: article.main_image.url('640x430')}
      = image_tag article.main_image.url('250x211'), class: 'img-responsive', size: '250x211'
    - else
      %meta{itemprop: 'image', content: image_url('logo-share-default.png')}
      = image_tag image_url('dummy/250x211.png'), class: 'img-responsive', size: '250x211'
    %h4.title{itemprop: 'headline'}= article.title
