.row
  .col-sm-12
    .form-group
      = label_tag 'main_image', t('activerecord.attributes.article.main_image'), class: 'col-sm-2 control-label'
      .col-sm-4= file_field_tag 'main_image', class: 'form-control'
