- content_for :title, 'Видео - Anime Fag'

.row
  .col-lg-9
    .row.videos-feed
      - 30.times do
        %article.col-lg-4.col-sm-4.col-xs-12
          = link_to video_path(1) do
            = image_tag 'dummy/250x211.png', class: 'img-responsive', size: '250x211'
            %h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
  %aside.col-lg-3
    = render 'shared/blocks/aside_post_block'
    = render 'shared/blocks/aside_gallery_block'

