.content, .same-posts-block {
  margin: 0 20px 40px;
}
.content {
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .title {
    border-bottom: 2px solid #2B2B2B;
  }

  .body {
    margin-top: 20px;
    font-family: PTSans-Regular, Helvetica, sans-serif;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 23px;
  }
}
.same-posts-block {
  .h2 {
    border-bottom: 2px solid #2B2B2B;
  }
}
