// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
  @import 'partials/article_body';
  @import "fotorama";

  .content {
    .main-video {
      margin-bottom: 20px;
    }
  }

  .fotorama {
    .fotorama__wrap, img {
      margin: 0 auto;
    }

    img {
      display: block;
    }

    .fotorama__wrap {
      .fotorama__stage__shaft {
        .fotorama__stage__frame {
          img {
            margin: 0;
          }

          .fotorama__html {
            div, a {
              display: block;
              height: 100%;
              background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
            }
          }
        }
      }

    }
  }
}
