// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
  @import 'partials/article_body';
  @import "fotorama";

  .content {
    .main-video {
      margin-bottom: 20px;
    }

    .body {
      .info {
        text-align: center;

        &.col-sm-12 {
          text-align: left;
        }

        time {
          line-height: 25px;

          &.small {
            line-height: 48px;
          }
        }

        .source {
          margin: 10px auto;

          a {
            color: black;
            text-decoration: none;
          }
        }

        .sharing {
          ul {
            font-size: 16px;

          li {
            margin-right: -10px;
            i {
                width: 48px;
                height: 48px;



                display: block;

                text-indent: -9000px;
                top: 0;
                vertical-align: top;
                left: 0;
                position: relative;
                margin: 5px auto;

                &.vk {
                  background: image-url('share-64x64.png') 0 0 no-repeat;
                  background-size: cover;
                }

                &.fb {
                  background: image-url('share-64x64.png') 0 -51px no-repeat;
                  background-size: cover;
                }

                &.tw {
                  background: image-url('share-64x64.png') 0 -103px no-repeat;
                  background-size: cover;
                }

                &.gg {
                  background: image-url('share-64x64.png') 0 -155px no-repeat;
                  background-size: cover;
                }

                &.small {
                  width: 32px;
                  height: 32px;

                  &.vk {
                    background: image-url('share-64x64.png') 0 0 no-repeat;
                    background-size: cover;
                  }

                  &.fb {
                    background: image-url('share-64x64.png') 0 -34px no-repeat;
                    background-size: cover;
                  }

                  &.tw {
                    background: image-url('share-64x64.png') 0 -68px no-repeat;
                    background-size: cover;
                  }

                  &.gg {
                    background: image-url('share-64x64.png') 0 -102px no-repeat;
                    background-size: cover;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .fotorama {
    .fotorama__wrap, img {
      margin: 0 auto;
    }

    img {
      display: block;
    }

    .fotorama__wrap {
      .fotorama__stage__shaft {
        .fotorama__stage__frame {
          img {
            margin: 0;
          }

          .fotorama__html {
            div, a {
              display: block;
              height: 100%;
              background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
            }
          }
        }
      }

    }
  }
}
