// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.galleries {
  @import 'partials/article_body';
  @import 'cbp_fwslider';

  .cbp-fwslider {
    ul {
      display: table;
      li {
        float: initial;
        display: table-cell;
        vertical-align: middle;

        a {
          img {
            max-height: 600px;
          }
        }
      }
    }
  }
}
