// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  .biggest-post {
    a {
      .title {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }

  .big-posts {
    a {
      .title {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  .posts {
    a {
      .title {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  .biggest-post, .big-posts {
    padding-bottom: 40px;
  }
}
