html, body {
  background: #F2F2F2;
  height: 100%;
}

#wrapper {
  padding-bottom: 132px;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  height: 132px;

  .navbar-footer {
    padding-top: 30px;
    border-top: 2px solid #2B2B2B;
    border-radius: 0px;

    a {
      font-family: PTSans-CaptionBold, Helvetica, sans-serif;
      color: #4A4A4A;
      font-size: 18px;
      line-height: 23px;
    }
  }

  .logo-footer {
    width: 155px;
    height: 43px;
    background: image-url('logo-footer.png') 100% 100% no-repeat;
    background-size: contain;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    color: transparent;
  }
}

main {
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: PTSans-CaptionBold, Helvetica, sans-serif;
}

#wrapper {
  min-height: 100%;
  background: #FFFFFF;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
}

body {
  font-family: PTSans, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;

  header, main, footer {
    &>.container {
      height: 100%;
    }
  }

  header {
    .logo {
      width: 305px;
      height: 85px;
      background: image-url('logo.png') 100% 100% no-repeat;
      background-size: contain;
      margin: 0 auto;
      line-height: 0;
      font-size: 0;
      color: transparent;
    }

    .navbar-head {
      border-bottom: 2px solid #2B2B2B;
      border-radius: 0px;
      margin-top: 20px;

      .navbar-toggle {
        border-color: #ddd;

        .icon-bar {
          background-color: #888;
        }
      }

      .collapse {
        border-color: #e7e7e7;
      }

      li.active {
        a, a:hover, a:focus {
          background-color: #A8A8A8;
        }
      }

      a {
        font-family: PTSans-CaptionBold, Helvetica, sans-serif;
        font-size: 24px;
        color: #2B2B2B;
        line-height: 32px;
      }
    }
  }
}

.home, aside {
  article {
    a {
      text-decoration: none;

      color: #2B2B2B;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0px 1px 4px rgba(0,0,0,0.50);

      &:hover {
        color: #4A6D8A;
      }

      img {
        margin: 0 auto;
      }
    }
  }
}

aside {
  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .block-title {
    border-bottom: 2px solid #2B2B2B;
  }

  .video-block, .gallery-block {
    padding-bottom: 30px;
  }
}
