@font-face {
  font-family: 'PTSans-Regular';
  src: font_path('fonts/PTS55F-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'PTSans-CaptionBold';
    src: font_path('fonts/PTC75F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html, body {
  background: #F2F2F2;
  height: 100%;
}

#wrapper {
  padding-bottom: 132px;
  position: relative;
}

.vidbox {
  position: initial;
  width: auto !important;
  height: auto !important;

  video {
    position: relative !important;
  }

  .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin: -1em 0 0 -2em;
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 132px;
  width: 100%;

  .navbar-footer {
    padding-top: 30px;
    border-top: 2px solid #2B2B2B;
    border-radius: 0px;

    a {
      font-family: PTSans-CaptionBold, Helvetica, sans-serif;
      color: #4A4A4A;
      font-size: 18px;
      line-height: 23px;
    }
  }

  .logo-footer {
    width: 155px;
    height: 43px;
    background: image-url('logo-footer.png') 100% 100% no-repeat;
    background-size: contain;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    color: transparent;
  }
}

main {
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: PTSans-CaptionBold, Helvetica, sans-serif;
}

#wrapper {
  min-height: 100%;
  background: #FFFFFF;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
}

body {
  font-family: PTSans-Regular, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;

  header, main, footer {
    &>.container {
      height: 100%;
    }
  }

  header {
    .logo {
      width: 305px;
      height: 85px;
      background: image-url('logo.png') 100% 100% no-repeat;
      background-size: contain;
      margin: 0 auto;
      line-height: 0;
      font-size: 0;
      color: transparent;
    }

    .navbar-head {
      border-bottom: 2px solid #2B2B2B;
      border-radius: 0px;
      margin-top: 20px;

      .navbar-toggle {
        border-color: #ddd;

        .icon-bar {
          background-color: #888;
        }
      }

      .collapse {
        border-color: #e7e7e7;
      }

      li.active {
        a, a:hover, a:focus {
          background-color: #A8A8A8;
        }
      }

      a {
        font-family: PTSans-CaptionBold, Helvetica, sans-serif;
        font-size: 24px;
        color: #2B2B2B;
        line-height: 32px;
      }
    }
  }

  .pagination {
    text-align: center;
    margin: 30px 0;
    a,
    span {
      line-height: 21px;
      border: 1px #acacac solid;
      display: inline-block;
      margin: 0 5px;
      text-align: center;
      border-radius: 3px;
      color: #5a5a5a;
      font-size: 14px;
      padding: 5px 30px;
      text-decoration: none;
    }
    a {
      &:hover {
        background: #f1f1f1;
      }
      &:active, &.active {
        background: darken(#f1f1f1, 20%);
      }
      &[disabled] {
        opacity: .4;
        &:hover {
          background: #fff;
        }
      }
    }
    span {
      opacity: .4;
    }
  }

  .more {
    margin-bottom: 25px;
  }
}

.home, aside, .same-posts-block, .posts-feed, .galleries-feed, .videos-feed {
  article {
    a {
      text-decoration: none;

      color: #2B2B2B;
      margin: 0 auto;
      text-align: center;

      &:hover {
        color: #4A6D8A;
      }

      img {
        margin: 0 auto;
      }

      h2 {
        small {
          color: black;
        }
      }
    }

    .post-meta {
      color: gray;
      font-size: 16px;
      font-style: italic;
    }
  }
}

aside, .same-posts-block {
  article {
    a {
      .title {
        height: 96px;
        overflow-y: hidden;
      }
    }
  }
}

.posts-feed, .galleries-feed, .videos-feed {
  article {
    margin: 20px 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    padding-bottom: 20px;

    &:last-child {
      border-bottom: none;
    }

    a {
      text-align: left;
      .title {
        h1 {
          font-size: 27px;
        }
        .description {
          font-size: 18px;
          text-shadow: none;
        }
        .info {
          margin-right: 10px;
          time {
            font-size: 16px;
            line-height: 28px;
            text-shadow: none;
          }
        }

      }
    }
  }
}

aside {
  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .block-title {
    border-bottom: 2px solid #2B2B2B;
  }

  .video-block, .gallery-block {
    padding-bottom: 30px;
  }
}
