<article class="col-lg-12 col-md-12" itemscope="" itemtype="http://schema.org/NewsArticle">
  <meta content="{{published_at_iso}}" itemprop="datePublished">
  <div class="post-preview">
    <a href="/articles/{{param}}">
      {{#image_share}}
        <meta content="{{image_share}}" itemprop="image">
      {{/image_share}}
      {{#image}}
        <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
          <img class="img-responsive" src="{{image}}" alt="" width="320" height="380">
        </div>
      {{/image}}
      <h1 class="post-title" itemprop="headline">
        {{title}}
      </h1>
      <h2>
        <small class="post-subtitle" itemprop="description">
          {{description}}
        </small>
      </h2>
    </a>
    <p class="post-meta">
      <time datetime="{{published_at_iso}}" class="pull-right">{{published_at}}</time>
    </p>
  </div>
</article>
